@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: 'Quicksand', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/* shared style */
.dFlex {
  display: flex;
}

body {
  font-family: 'Quicksand', serif;
}
header,
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* header nav style */
.navber {
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}
.nav-logo {
  align-items: center;
  gap: 10px;
}
.nav-logo img {
  width: 50px;
}
.nav-logo p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
.nav-items li {
  justify-content: space-between;
  list-style: none;
  padding: 0px 32px;
  font-weight: 600;
}

header hr {
  display: none;
}

.nav-items li:nth-child(1) {
  color: orange;
}
.nav-items li:nth-child(2) {
  color: skyblue;
}
.nav-items li:nth-child(3) {
  color: #05d4df;
}
.nav-items li:nth-child(4) {
  color: #5d58ef;
}

.menubar {
  width: 25px;
  display: none;
}

.nav-last-item {
  background-color: orange;
  padding: 6px 22px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
}

/* hero section start area */
.hero-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  width: 40%;
}

.hero-content h1 {
  margin: 20px 0px;
}

.hero-content .Empowering {
  color: orange;
}
.hero-content .towards {
  color: #05d4df;
}
.hero-content p {
  font-weight: 400;
}
.hero-content button {
  margin: 20px 0px;
  background-color: black;
  border: none;
  padding: 8px 22px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}
/* hero section end area */

/* curriculum section start here */
.curriculum-sec {
  width: 100%;
  margin: 100px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.curriculum-sec .bgImg {
  position: absolute;
  top: -50px;
}

.curriculum-sec h1 {
  font-size: 32px;
  text-transform: capitalize;
}

.curriculum-sec .cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 80px;
}
.curriculum-sec .cards .card {
  border-radius: 12px;
  padding: 30px 0px;
}

.clr-c1 {
  box-shadow: 0px 10px 50px 27px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to bottom,
    #78cdfb,
    #95d1fa,
    #acd6f8,
    #c0dbf6,
    #d2e1f3,
    #d8e5f2,
    #e0e9f1,
    #e8edf0,
    #ebeff1,
    #eef2f3,
    #f1f4f4,
    #f4f6f6
  );
}
.clr-c2 {
  box-shadow: 0px 10px 50px 27px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to bottom,
    #f9ce61,
    #f1ce75,
    #e9cd89,
    #e0cd9c,
    #d8ccae,
    #decebb,
    #dfd2c9,
    #dcd7d5,
    #e5e1e1,
    #edebec,
    #f6f5f6,
    #ffffff
  );
}
.clr-c3 {
  box-shadow: 0px 10px 50px 27px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to bottom,
    #cb9bf6,
    #d1affa,
    #d9c2fd,
    #e2d5ff,
    #ede7ff,
    #f3efff,
    #f9f7ff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}
.curriculum-sec .cards .card h3 {
  margin: 6px 0px;
}
.curriculum-sec .cards .card p {
  margin: 20px 0px;
  font-size: 14px;
  color: gray;
  line-height: 25px;
}
.curriculum-sec .cards .card button {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 500;
}
.clr-b1 {
  color: skyblue;
}
.clr-b2 {
  color: orange;
}
.clr-b3 {
  color: #8700ff;
}

.card-arrow img {
  width: 30px;
  background-color: orange;
  border-radius: 50%;
  padding: 8px;
  margin: 2px;
}
/* curriculum section end here */

/* story section start here */
.stories-sec {
  position: relative;
  width: 100%;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.stories-sec h1 {
  text-transform: capitalize;
  font-size: 32px;
}
.outer-cards {
  display: flex;
  justify-content: space-between;
}
.inner-left-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 24px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.inner-left-content {
  position: relative;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inner-left-content .date {
  position: absolute;
  top: -14%;
  width: 40%;
  background-color: #3cd8e8;
  padding: 12px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.inner-left-content h2 {
  margin-top: 60px;
}

.inner-left-card .card-info {
  margin-top: 60px;
  line-height: 30px;
}

.inner-left-card img {
  width: 100%;
}
.inner-right-card {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
}
.inner-right-card .cardsOne,
.inner-right-card .cardsTwo {
  position: relative;
  display: flex;
  gap: 20px;
}

.inner-right-card img {
  width: 100%;
}

.inner-right-card .date {
  position: absolute;
  top: 62%;
  width: 20%;
  background-color: #3cd8e8;
  padding: 8px;
  margin-left: 24px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.inner-right-card .card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 10px 45px 7px rgba(0, 0, 0, 0.1);
}

.inner-right-card h4 {
  margin: 30px 0px;
  margin-left: 12px;
}

.cardsOne,
.cardsTwo {
  display: flex;
}

.stories-sec .bgImg {
  position: absolute;
  top: -70px;
}

.stories-sec button {
  margin: 20px 0px;
  background-color: black;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

.inner-right-card .stories-cardTwo {
  background-color: #5d58f0;
}
/* story section end here */

/* footer section start here */
footer {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  background-color: #01acfd;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px;
  color: white;
  text-transform: capitalize;
}
footer .bgImg {
  position: absolute;
  top: -55%;
  z-index: -1;
  width: 100%;
  height: 100%;
}
footer .bgImg img {
  width: 100%;
  height: 100%;
}

.logo-area {
  width: 25%;
}

.logo-area div {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.logo-area div h2 {
  margin-top: 12px;
}

.nav-area {
  width: 25%;
}

.nav-area ul li {
  list-style-type: none;
  margin-top: 12px;
}
.nav-area ul li:first-child {
  margin-top: 28px;
}
.icon-area {
  width: 25%;
}
.icon-area h3 {
  margin-bottom: 12px;
}
.icon-area img {
  width: 30px;
}

.bg-gradient {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    #fbd574,
    #f8da8a,
    #f6df9f,
    #f3e3b5,
    #f1e7ca,
    #f6e9d6,
    #f7ece2,
    #f5f0ed,
    #f8f3f3,
    #faf7f8,
    #fcfbfc,
    #ffffff
  );
  z-index: -45;
}
/* footer section end here */

/* ------------------------responsive area start here--------------------------- */
@media screen and (max-width: 576px) {
  body {
    padding: 0px 1rem;
  }
  nav .nav-logo p,
  nav .nav-items,
  nav .nav-last-item {
    display: none;
  }
  nav {
    border-bottom: 2px solid rgb(243, 202, 127);
  }
  .menubar {
    display: inline-block;
  }
  .hero-sec {
    flex-direction: column-reverse;
  }
  .hero-content {
    width: 90%;
    text-align: center;
  }
  .curriculum-sec .cards {
    flex-direction: column;
  }

  .outer-cards .inner-left-card {
    display: none;
  }
  .inner-right-card {
    width: 100%;
  }
  .inner-right-card .date {
    position: absolute;
    top: 50%;
    width: 30%;
  }
  footer {
    flex-direction: column;
  }
  footer .logo-area {
    width: 85%;
    margin: 0 auto;
  }
  footer .nav-area {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
  }
  footer .icon-area {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .stories-sec .bgImg {
    display: none;
  }
  .curriculum-sec .bgImg {
    display: none;
  }
  footer .bgImg {
    display: none;
  }
}
/* ------------------------responsive area end here--------------------------- */
